@page "/ParentComponent"

<h3 class="text-danger">Parent Child Component</h3>

<CascadingValue Value="@MessageForGrandChild" Name="MessageFromGrandParent">
    <CascadingValue Value="@LuckNumber" Name="LuckNumberFromGrandParent">
        <ChildComponent OnClickBtnMethod="ShowMessage" Title="This title is passed as a parameter from parent component">
            <ChildContent>
                Render Fragment From Parent
            </ChildContent>
            <AnotherChildContent>
                This is another child Render Content
            </AnotherChildContent>
        </ChildComponent>
        </CascadingValue>
</CascadingValue>

<AnotherChildComponent placeholder="Placeholder Default"></AnotherChildComponent>

<p>
    <b>@messageText</b>
</p>

@code
{
    private string MessageForGrandChild = "This is a message from your grand parent";

    public int LuckNumber { get; set; } = 7;
    
    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazing text from parent";
    }
}