<div class="bg-light border p-2 col-5" @onclick="(args) => AmenitySelectionChanged(args, Amenities.Name)">
    <h4 class="text-secondary">Amenities - @Amenities.Id</h4>

    @Amenities.Name <br/>
    @Amenities.Description <br/>
    <p>Render Props - @Child1 & @Child2</p>
</div>


@code
{
    [Parameter]
    public HotelAmenities Amenities { get; set; }

    [Parameter]
    public EventCallback<string> OnAmenitySelection { get; set; }
    
    [Parameter]
    public RenderFragment Child1 { get; set; }
    
    [Parameter]
    public RenderFragment Child2 { get; set; }

    protected async Task AmenitySelectionChanged(MouseEventArgs e, string name)
    {
        await OnAmenitySelection.InvokeAsync(name);
    }
}