@page "/hotel-room"

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">Hotel Rooms</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink class="btn btn-info form-control" href="hotel-room/create">Create</NavLink>
    </div>
</div>

@code 
{
    
}